layout {
  tab name="tuitop" split_direction="vertical" {
    pane borderless=true {
      plugin location="file:/workspace/tuitop-zellij-plugin/target/wasm32-wasi/release/tuitop_zellij_plugin.wasm"
    }
    pane size=1 borderless=true stacked=true run="zellij:status-bar" {}
  }
}
